@charset "UTF-8";

:root{
    --form-backcolor:rgba(255,255,255,0.5);
  }
  /* リセット */
  body, h1,h2,h3,h4,h5,h6,p,ul,li,figure{
    margin:0;
    padding:0;
    list-style: none;
  }
  /*　初期設定　*/
  body{
    font-size:15px;
    font-family:"Noto Sans Jp", sans-serif;
    box-sizing:border-box;  /*幅と高さに　padding borderを含める*/
    overflow:hidden;
  }

.wrapper{
    width:100vw;
    height:100vh;
    display:flex;
    font-size:15px;
    background-color:rgba(120,120,120,120);
    justify-content:center;
    align-items: center;
    flex-wrap:wrap;
}

.container{
    width:70%;
    height:95%;
    background-color: bisque;
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}

/*　左サイド　*/
.container .left{
    width:20%;
    height:100%;
    background-color: aqua;
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow: hidden;
}
.left .buttonsection{
    height:25%;
    width:100%;
}
.left .btn{
    width:160px;
    height:20%;
    font-size:20px;
    margin-left: 10px;
    margin-top:10px;
}






.container .right{
    width:80%;
    height:100%;
    background-color: aquamarine;
}

/*新規登録ボタンをおくセクション*/
.right .buttonsection{
    justify-content: right;
    display:flex;
    justify-content: flex-end;
}

/*新規登録ボタン*/
.buttonsection .newcreatebtn{
    height:50px;
    width:150px;
    font-size:30px;
    margin-top:10px;
    margin-right:10px;
}


.right .listfield{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow:hidden;
    padding:10px;
}

.listfield .tableitemtitle{
    width:16%;
    height:50px;
    background-color:burlywood;
    font-size:20px;
    box-shadow: 0 0 0 1px black;
    display:flex;
    justify-content: center;
    align-items: center;
    overflow:hidden;
    font-weight: bold;
}
.listfield .tableitem{
    width:16%;
    height:50px;
    background-color:azure;
    font-size:20px;
    box-shadow: 0 0 0 1px black;
    display:flex;
    justify-content: center;
    align-items: center;
    overflow:hidden;
}
